body
{
  color: lightcyan;
  background: lightblue;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed lightcoral;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: lightcoral;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}
label
{
    font-size: 14px;
  color: lightgreen;
  padding: 6px;
  border-radius: 10px;
  background-color: rgb(0, 94, 255);
}
.btn-santi {
color: rgb(17, 0, 255);
background-color: aquamarine;
border: 2px dotted black;
padding: 3px;
border-radius: 8px;
}
.btn-santi:hover {
color: rgb(255, 221, 0);
background-color: rgb(226, 90, 113);
border: 2px dotted rgb(72, 0, 72);
padding: 6px;
border-radius: 10px;
}
.btn-santiago{
  color: aquamarine;
  background-color: grey;
  border: 2px dotted aqua;
  padding: 3px;
border-radius: 8px;
}
.btn-santiago:hover {
  color: green;
  background-color: plum;
  border: 2px dotted greenyellow;
  padding: 6px;
border-radius: 10px;
}